<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory suffix=".php">./vendor/</directory>
      <directory suffix=".php">./tests/</directory>
      <file>./src/init.php</file>
      <file>./src/Fresque/DialogMenuValidator.php</file>
      <file>./src/Fresque/SendSignalCommandOptions.php</file>
      <file>./src/Fresque/ResqueStats.php</file>
    </exclude>
    <report>
      <clover outputFile="tests/result/coverage/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Fresque Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
